.classes {
  text-transform: uppercase;
  font-size: 50px;
  text-align: left;
  padding-bottom: 10vh;
}

.classes ul {
  margin: 0px;
  padding: 0px;
  list-style: none;

}
.classes li {
  padding-top: 5px;
  padding-bottom: 5px;
}
